# Copia este archivo como .env y rellena los valores reales
# NUNCA subas el .env real a GitHub

MONGO_URI=mongodb+srv://USUARIO:PASSWORD@cluster0.xxxxx.mongodb.net/techstore?retryWrites=true&w=majority
JWT_SECRET=cambia_esta_clave_secreta_muy_larga_y_segura
PORT=3000
